<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">


<head>
    <title>mysql angular</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/imgur_api.js"></script>
    <script type="text/javascript" src="./js/db_name.js"></script>
    <script type="text/javascript" src="./js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body ng-app="myApp">
<!-----img 上傳------->
<div class="drop-box">DROP!
    <button onclick="document.querySelector('input').click()">Or click</button>
</div>
<input style="visibility: collapse; width: 0px;" type="file" multiple="" onchange="upload(this.files[0])">

<p id="loading">Loading...</p>
<!--------後台撈圖片-------->
<div class="load-box" ng-controller="customersCtrl">
    <ul ng-repeat="x in pics">
        <li ng-if="$index == isActive"><input type="text" ng-model="x.pic" ng-value="x.pic" required><a id="update" ng-click="update(x.id, x.pic, $index)">Update</a></li>
        <li><img ng-src="{{ x.pic }}" alt="pic"/></li>
        <li>
            <a id="delete-pic" ng-click="delete(x.id,$index)">Delete</a><a id="edit" ng-click="edit($index)">Edit</a>
        </li>
    </ul>
</div>
</body>
