body {
    text-align: center;
}

img {
    width: 200px;
    height: 150px;
}

ul, li {
    padding: 0;
    margin: 0;
}

li {
    text-decoration: none;
    list-style: none;
}

.show-box {
    display: none;
}

.load-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    margin-left: -10px;
}

.load-box ul {
    padding: 10px;
    box-shadow: 2px 2px 1px #888888;
    box-sizing: border-box;
}

.load-box ul li {
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    width: calc(100% / 5);
    font-size: 12px;
}

.load-box ul li:nth-child(1) {
    display: inline;
}

#delete-pic {
    width: 80px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: orangered;
    border-radius: 25px;
    font-size: 12px;
    border: 1px solid orangered;
}

#delete-pic:hover {
    background-color: coral;
    cursor: pointer;
}

#edit {
    width: 80px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    border-radius: 25px;
    font-size: 12px;
    border: 1px solid dodgerblue;
    margin-left: 10px;
}

#edit:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

#update {
    width: 80px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: lightgreen;
    border-radius: 25px;
    font-size: 12px;
    border: 1px solid lightgreen;
    margin-left: 10px;
}

#update:hover {
    background-color: greenyellow;
    cursor: pointer;
}

.drop-box {
    border: 10px solid black;
    line-height: 100px;
    width: 200px;
    margin: auto;
    font-size: 40px;
    display: inline-block;
    margin-top: 100px;
}

#loading {
    display: none;
}

.uploading div {
    display: none
}

.uploading p {
    display: inline
}

.uploaded div {
    display: block;
}

.uploaded .show-box {
    display: block;
}
